.card {
    list-style-type: none;
    display: inline-block;
    margin: 0.1ch;
    font-family: monospace;
    font-size: 200%;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    color: white;
}

.card-s {
    background-color: black;
}

.card-c {
    background-color: green;
}

.card-d {
    background-color: blue;
}

.card-h {
    background-color: red;
}

.card-x {
    background-color: grey;
}

.card-y {
    background-color: orange;
}

.card-last-drawn {
    border-color: yellow;
    border-width: 5px;
}