.game {
    border-style: solid;
    width: 20%;
    border-width: 1px;
    margin: 1px 0 1px 0;
}

.opponent {
    padding: 10px 0 0 0;
    text-align: center;
}

.hand {
    padding: 0 0 0 10px;
    display: inline-block;
}

.final-score {
    font-weight: bold;
    font-size: 150%;
}

.final-score-win {
    color: green;
}

.final-score-loss {
    color: red;
}

.draw {
    background-color: #d4f8d4;
}

.discard {
    background-color: #ffe9ec;
}