.card {
    display: inline-block;
    text-align: center;
    margin: 0.05ch;
    font-family: monospace;
    font-size: 125%;
    font-weight: bold;
    border-style: solid;
    border-width: 0.1px;
    color: white;
    width: 0.22in;
    padding: 0 0 0 0;
}

button {
    display: inline-block;
}

.card-s {
    background-color: black;
}

.card-c {
    background-color: green;
}

.card-d {
    background-color: blue;
}

.card-h {
    background-color: red;
}

.card-x {
    background-color: grey;
}

.card-y {
    background-color: orange;
}

.card-last-drawn {
    border-color: yellow;
    border-width: 2.5px;
}

.card-can-click {
    cursor: pointer;
}