.game {
    border-style: solid;
    border-width: 1px;
    padding: 1px 0 5px 0;
    margin: 1px 0 1px 0;
    position: relative;
}

.game-info {
    text-align: center;
}

.opponent {
    margin: 5px 0 0 0;
    text-align: center;
    font-weight: bold;
}

.game-view {
    display: grid;
    padding: 5px 0 5px 0;
    grid-gap: 5px 1px;
    grid-template-columns: 7;
    /* grid-template-rows: 3; */
    grid-row-gap: 0px;
}

.hand {
    /* text-align: center; */
    /* display: inline-block; */
    grid-column: 1 / span 4;
    /* margin: 5px 5px 5px 5px; */
    margin: auto;
}

.draw-discard-card {
    grid-column: 5 / span 1;
    /* margin: 5px 5px 5px 5px; */
    margin: auto;
}

.last-drawn-card {
    grid-column: 6 / span 1;
    /* margin: 5px 5px 5px 5px; */
    margin: auto;
}

.hud {
    grid-column: 7 / span 1;
    grid-row: 1 / span 2;
}

.draw {
    background-color: #d4f8d4;
}

.discard {
    background-color: #ffe9ec;
}

.points {
    top: 0px;
    right: 0px;
    padding: 1px 5px 0 0;
    position: absolute;
    font-family: monospace;
}

.series {
    top: 0px;
    left: 0px;
    padding: 1px 0 0 1px;
    position: absolute;
    font-family: monospace;
}