.hud-table {
    /* font-size: 50%; */
    /* background-color: white */
}

.hud-header {
    font-size: 60%
}

.hud-body {
    font-size: 30%
}

.hud-users-hand {
    background-color: yellow;
}

.hud-opponents-hand {
    background-color: red;
}

.hud-discard {
    background-color: lightgray
}

.hud-top-of-discard {
    background-color: orange
}

.unknown {
    background-color: white
}

.header-c {
    color: green;
}

.header-d {
    color: blue;
}

.header-h {
    color: red;
}

.header-s {
    color: black;
}